{% extends "layouts/base.html" %}
{% block content %}
                 <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">Pages of Life</h4>
                    </div>
                    
                    <div class="col-sm-8 col-9 text-right m-b-20">
<div class="btn-group btn-group-sm" style="margin-right: 8px">
                           <select class="select">
											<option>Export As</option>
											<option>Pdf</option>
											<option>CSV</option>
											<option>Print</option>
										
										</select>
										<button onclick="window.location.href = '/health/add_pol';"  class ="btn btn-primary"> <i class="fa fa-plus"></i> Add New </button>
                        </div>                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
                             
								<div class="table-responsive">
									<table id="example" class=" table table-stripped  dt-responsive  " >
                                    <thead>
                                        <tr>
                                            <th >Page</th>
                                            <th>Person</th>
                                            <th>Account</th>
                                            <th>Reference</th>
                                            <th >Date</th>
                                            <th>Age</th>
                                            <th>Medical Context</th>
                                            <th>Social Context</th>
                                             <th>Summary</th>
                                            <th>Node</th>
                                            <th>Action</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for pol in pols %}  
                                    
                                        <tr>
                                            <td>{{pol.page}}</td>
                                            <td>{{pol.person}}</td>
                                            <td>{{pol.federation_account}}</td>
                                            <td>{{pol.relevance}}</td>
                                            <td>{{pol.create_date}}</td>
                                            <td>{{pol.age}}</td>
                                            <td>{{pol.medical_context}}</td>
                                            <td>{{pol.social_context}}</td>
                                            <td>{{pol.summary}}</td>
                                            <td>{{pol.node}}</td>
                                   
                                            <td class="text-right"><a href="#"><i class="far fa-edit">  </i></a><a href="#"> <i class="far fa-trash-alt	"> </i> </a></td>
                                           
                                        </tr>
                                   {% endfor %} 
                                        
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
     {% endblock %}
     