{% extends "layouts/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Patients</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>Pdf</option>
                <option>CSV</option>
                <option>Print</option>

            </select>
            <button onclick="window.location.href = '/health/addPatient';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Age</th>
                            <th>PUID</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for patient in patients %}
                        <tr>
                            <td>{{patient.id}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.name}}</td>
                            <td class="text-right"><a href="/health-configuration/editEthnicity/{{ethnicity.id}}"><i class="far fa-edit"> </i></a><a href="/health-configuration/deleteEthnicity/{{ethnicity.id}}"> <i
                                    class="far fa-trash-alt	"> </i> </a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health/addPatient">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Patient</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" class="form-control" name="id" placeholder="{{ form.id }}
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <label>Person</label>
                        <input class="form-control" type="text" name="person">
                    </div>
                    <div class="form-group">
                        <label>Patient Image</label>
                        <div>
                            <input class="form-control" type="file" name="picture">
                            <small class="form-text text-muted">Max. file size: 50 MB. Allowed images: jpg, gif, png. Maximum 1 image only.</small>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-4 col-lg-3 col-xl-2">
                                <div class="product-thumbnail">
                                    <img src="assets/img/blog/blog-thumb-01.jpg" class="img-thumbnail img-fluid" alt="">
                                    <span class="product-remove" title="remove"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Critical Info</label>
                        <textarea cols="30" rows="6" class="form-control"></textarea>
                        
                    </div>
                    <div class="form-group">
                        <label>Age <small></small></label>
                        <input type="number" placeholder="" name="age" data-role="tagsinput" class="form-control">
                    </div>
                    <div class="form-group">
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="status" id="disabilities" value="option1" checked>
                            <label class="form-check-label" for="disabilities">
                            Disabilities/Barrier
                            </label>
                        </div>
                        
                    </div>

                    <div class="card-box">
                           
                        <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified">
                            
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">General</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#basic-justified-tab2" data-toggle="tab">Main</a>
                                    <a class="dropdown-item" href="#basic-justified-tab3" data-toggle="tab">Misc</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab4" data-toggle="tab">Functionality</a></li>
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">OB/GYN</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#basic-justified-tab5" data-toggle="tab">General</a>
                                    <a class="dropdown-item" href="#basic-justified-tab6" data-toggle="tab">Screening</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab7" data-toggle="tab">Socioeconomics</a></li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab8" data-toggle="tab">Genetics</a></li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab9" data-toggle="tab">Surgeries</a></li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab10" data-toggle="tab">Lifestyle</a></li>
                            <li class="nav-item"><a class="nav-link" href="#basic-justified-tab11" data-toggle="tab">Medication</a></li>
                            
                        </ul>
                        <div class="tab-content">
                          
                            <div class="tab-pane" id="basic-justified-tab2">
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>GP</label>
                                    <input type="text" class="form-control ">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Family</label>
                                    <input type="text" class="form-control ">
                                </div>
                            </div>
                           
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Insurance</label>
                                    <input type="text" class="form-control ">
                                </div>
                            </div>
                            </div> 
                             <table id="example" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead> <b> Assesment </b>
                                <tr>
                                    <th>Condition</th>
                                    <th>Status</th>
                                    <th>Severity</th>
                                    <th>Date of Diagnosis</th>
                                    <th>Healed</th>
                                    <th>Remarks</th>
                                    <th>Institution</th>
                                    
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                               
                                 <span class="title">Notepad:</span>
                                 <textarea cols="98" rows="5" class="form-control"></textarea>
                                 <br />
                                  <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>DOB</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>PUID</label>
                                    <input type="text" class="form-control ">
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Blood Group</label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                        <option>B+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>HB</label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                        <option>B+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                               <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="status" id="hospitalized" value="option1" checked>
                                <label class="form-check-label" for="hospitalized">
                                Hospitalized
                                </label>
                            </div>
                            
                        </div>
                            </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="status" id="general_active" value="option1" checked>
                                <label class="form-check-label" for="general_active">
                                Active
                                </label>
                            </div>
                            
                        </div>
                            </div>
                        </div>
                            </div>
                            <div class="tab-pane" id="basic-justified-tab3">
                                Misc
                            </div>
                            <div class="tab-pane" id="basic-justified-tab4">
                                <table id="example" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead> Assesment
                                <tr>
                                    <th>Date</th>
                                    <th>Cognitive</th>
                                    <th>Visual</th>
                                    <th>Hearing</th>
                                    <th>Speed</th>
                                    <th>Hand</th>
                                    <th>Mobility</th>
                                    <th>Code</th>
                                    <th>Health Pro</th>
                                    
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                         <div class="row">
                          <div class="col-md-6">
                                <div class="form-group">
                                     <span class="title"> Amputee :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                        <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Since</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            </div>
                            <table id="example" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead> Amputations
                                <tr>
                                    <th>Date</th>
                                    <th>Etiology</th>
                                    <th>Structure</th>
                                    <th>Limb</th>
                                    <th>Side</th>
                                    <th>Level</th>
                                    <th>Health Proj</th>
                                    <th>Comments </th>
                                    
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                            <table id="example" class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead> Protheses
                                <tr>
                                    <th>Date</th>
                                    <th>Prothesis</th>
                                    <th>Health Proj</th>
                                    <th>Comments</th>
                                    
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                            </tbody>
                        </table>
                            </div>
                            <div class="tab-pane" id="basic-justified-tab5">
                                <div class="row">
                          <div class="col-md-4">
                                <div class="form-group">
                                     <span class="title"> Fertile :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <span class="title"> Pregnant :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                     <span class="title"> Menopausal :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                        <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Menarche age</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Menopause age</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            </div>
                            <label><strong> OB Summary </strong></label>
                               <div class="row">
                         
                        <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Pregnancies</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Premature</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                             <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Abortions</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                        
                                <div class="form-group">
                                    <span class="title">Stillbirths</label>
                                        <input type="text" class="form-control ">
                                   
                                </div>
                            </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                <div>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <h5 class="m-b-10"><strong>Menstrual History</strong></h5>
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>
                             <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>LMP</th>
                                    <th>Length</th>
                                    <th>Frequency</th>
                                    <th>Volume</th>
                                    <th>Regul</th>
                                    <th>Dysm</th>
                                    <th>Reviewed</th>
                                    <th>Institution</th>
                                    
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                             </div>	
                             </div>
                                 </div>    
                            </div>
                            <div class="tab-pane" id="basic-justified-tab6">
                                    
                            </div>
                             <div class="tab-pane" id="basic-justified-tab9">
                                   <div class="row">
                                <div class="col-sm-12">
                                <div>
                                     <div class="row">
                                  <div class="col-sm-6">
                                    
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>
                             <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Condition</th>
                                    <th>Urgency</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Main Proc</th>
                                    <th>State</th>
                                    <th>Duration</th>
                                    <th>Operating</th>
                                    <th>Age</th>
                                    <th>Post-Op Dx</th>
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                             </div>
                             <br />
                            </div>
                             <div class="tab-pane" id="basic-justified-tab10">
                                
                            </div>
                             <div class="tab-pane" id="basic-justified-tab11">
                               <div class="row">
                                <div class="col-sm-12">
                                <div>
                                     <div class="row">
                                  <div class="col-sm-6">
                                    <h5 class="m-b-10"><strong>Medications</strong></h5>
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>
                             <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Medicament</th>
                                    <th>Indication</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Ac</th>
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                             </div>
                             <br />
                             <div class="row">
                                <div class="col-sm-12">
                                <div>
<div class="row">
                                  <div class="col-sm-6">
                                    <h5 class="m-b-10"><strong>Vaccinations</strong></h5>
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>                                 <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Vaccine</th>
                                    <th>Dose</th>
                                    <th>Date</th>
                                    <th>Next Dose </th>
                                    <th>Observations</th>
                                    <th>Signed By</th>
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                             </div>
                            </div>
                             <div class="tab-pane" id="basic-justified-tab7">
                                <textarea cols="98" rows="3" class="form-control"></textarea>
                    <br />
                    <label> <strong>Other Family and Environmental determinants </strong> </label>
                         <div class="row">
                         
                        <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Single Parent Family :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Domestic Voilance :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Working Children :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Teenage pregnancy :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Sexual abuse :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Drug Addiction :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> School withdrawal :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Has been in prison</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                             <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Currently in prison :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Relitive in prison :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> Hostile Area :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                     <span class="title"> UXO :</span>
                                    
                              <input style="margin-left:10px" type="checkbox" name="gender" class="form-check-input">
                                </div>
                            </div>
                            </div>
                             <span class="title">Notes:</span>
                                                 <textarea cols="98" rows="5" class="form-control"></textarea>	
                            </div>
                            <div class="tab-pane" id="basic-justified-tab8">
                                        <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <h5 class="m-b-10"><strong>Genetic Information</strong></h5>
                                         
                    <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Gene</th>
                                    <th>Variant</th>
                                    <th>Phenotype</th>
                                    <th>Onse</th>
                                    <th>Notes</th>
                                    <th>Health Prof</th>
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
           
                                </div>
                            </div>
                            <div>
                            <br />
                            <div class="row">
                            <div class="col-sm-12">
                                <div>
                                    <h5 class="m-b-10"><strong>Family Information</strong></h5>
                                   <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Condition</th>
                                    <th>Maternal or Parental</th>
                                    <th>Relative</th>
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                                </div>
                            </div>
                    </div>
                    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" class="form-control" name="create_date" placeholder="{{ form.create_date }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" class="form-control" name="write_date" placeholder="{{ form.write_date }}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" class="form-control" name="create_uid" placeholder={{ form.create_uid }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" class="form-control" name="write_uid" placeholder={{ form.write_uid }}

                        </div>
                    </div>
                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-configuration/updateEthnicity/{{form.id}}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Ethnicity</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" value="{{ form.code }}" name="code" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" value="{{ form.name }}" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <input type="text" value="{{ form.notes }}" name="notes" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" readonly value="{{ form.create_date }}" name="create_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" readonly value="{{ form.write_date }}" name="write_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" readonly value="{{ form.create_uid }}" name="create_uid" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" readonly value="{{ form.write_uid }}" name="write_uid" class="form-control">
                        </div>
                    </div>
                </div>


            </div>
            <input type="hidden" readonly value="{{ form.id }}" name="id" class="form-control">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
