{% extends "layouts/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Meal Orders</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>Pdf</option>
                <option>CSV</option>
                <option>Print</option>

            </select>
            <button onclick="window.location.href = '/health-hospitalizations/addMealOrder';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

<!--     {% if msg == "1" %}
    <div class="col-sm-12">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Record <a href="#" class="alert-link">Saved</a> Successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    {% endif %}
    {% if msg == "2" %}
    <div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Record <a href="#" class="alert-link">Deleted</a> Successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    {% endif %}
    {% if msg == "3" %}
    <div class="col-sm-12">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Record <a href="#" class="alert-link">Updated</a> Successfully.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    {% endif %}
    {% if msg == "4" %}
    <div class="col-sm-12">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry!</strong> An <a href="#" class="alert-link">Error</a> Occurred.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    </div>
    {% endif %} -->
    
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>
                          
                            <th>Registration Time</th>
                            <th>Order</th>
                            <th>Meal Time</th>
                            <th>Items</th>
                            <th>Done</th>
                            <th>Status</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for order in orders %}
                        <tr>
                            <td>{{order.id}}</td>
                            <td>{{order.meal_order}}</td>
                            <td>{{order.mealtime}}</td>
                            <td>{{order.meal_order}}</td>
                            <td>{{order.remarks}}</td>
                            <td>{{order.meal_state}}</td>
                            
                            <td class="text-right"><a href="/health-hospitalizations/editMealOrder/{{order.id}}"><i class="far fa-edit"> </i></a><a href="/health-hospitalizations/deleteMealOrder/{{order.id}}"> <i
                                    class="far fa-trash-alt	"> </i> </a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health-hospitalizations/addOperationalArea">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Meal Order</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" class="form-control" name="id" placeholder="{{ form.id }}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Info</label>
                            <input type="text" class="form-control" name="info">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" class="form-control" name="create_date" placeholder="{{ form.create_date }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" class="form-control" name="write_date" placeholder="{{ form.write_date }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" class="form-control" name="create_uid" placeholder={{ form.create_uid }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" class="form-control" name="write_uid" placeholder={{ form.write_uid }}

                        </div>
                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-configuration/updateOperationalArea/{{form.id}}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Operational Area</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Info</label>
                            <input type="text" value="{{ form.info }}" name="info" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" value="{{ form.name }}" name="name" class="form-control">
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" readonly value="{{ form.create_date }}" name="create_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" readonly value="{{ form.write_date }}" name="write_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" readonly value="{{ form.create_uid }}" name="create_uid" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" readonly value="{{ form.write_uid }}" name="write_uid" class="form-control">
                        </div>
                    </div>
                </div>


            </div>
            <input type="hidden" readonly value="{{ form.id }}" name="id" class="form-control">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
