{% extends "layouts/base.html" %}
{% block content %}
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="page-title">Add Lab Test</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form>
                                                    <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Order</label>
                                <input class="form-control" type="text">
                            </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Order Type</label>
                                <input class="form-control" type="text">
                            </div>
                            </div>
                            </div>
                          
                            <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Patient</label>
                                <input class="form-control" type="text">
                            </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Doctor</label>
                                <input class="form-control" type="text">
                            </div>
                            </div>
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="select">
                                            <option>Draft</option>
                                            <option>Child</option>
                                            <option>Health Care</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Service</label>
                                        <select class="select">
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                            <option>Health Care</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                             <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <div class="cal-icon">
											<input class="form-control datetimepicker" type="text">
										</div>
                                    </div>
                                </div>
                           
                            </div>
                             <div class="form-group">
                                <label class="display-block"></label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="status" id="urgent" value="option1" checked>
									<label class="form-check-label" for="urgent">
									Urgent
									</label>
								</div>
								
                            </div>
                          
                            
                           
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
               {% endblock %}
          