{% extends "layouts/base.html" %}
{% block content %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Medicaments</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>PDF</option>
                <option>CSV</option>

            </select>
            <button onclick="window.location.href = '/health-medicaments/addMedicament';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Notes</th>
                            <th>Active Component</th>
                            <th>Category</th>
                            <th class="text-right">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for temp in medicament %}
                        <tr>
                            <td>{{ temp.id }}</td>
                            <td>{{ temp.notes }}</td>
                            <td>{{ temp.active_component }}</td>
                            <td>{{ temp.category }}</td>
                            
                            <td class="text-right"><a href="/health-medicaments/editMedicament/{{temp.id}}"><i class="far fa-edit" style="color: #003366; margin-right: 2.5px;"> </i></a><a href="/health-medicaments/deleteMedicament/{{temp.id}}"> <i
                                    class="far fa-trash-alt "style="color: #003366; margin-right: 12.5px;"> </i> </a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health-medicaments/addMedicament">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-10">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Medicaments</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <a href="{% url 'medicament' %}" style="color:#003366;">Go To Home</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row" style="color: #003366;">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Record No. </label>
                            <input type="number" class="form-control" readonly="" name="id" placeholder="{{ form.id }}
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Active Status </label>
                            <select class="form-control" name="active">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Active Component </label>
                            <input type="text" class="form-control" required="required" name="active_component">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Adverse Reaction </label>
                            <input type="text" class="form-control" required="required" name="adverse_reaction">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Category </label>
                            <input type="number" class="form-control" required="required" name="category">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Composition </label>
                            <input type="text" class="form-control" required="required" name="composition">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Dosage </label>
                            <input type="text" class="form-control" required="required" name="dosage">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Form </label>
                            <input type="number" class="form-control" required="required" name="form">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Indications </label>
                            <input type="text" class="form-control" required="required" name="indications">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Is Vaccine </label>
                            <select class="form-control" name="is_vaccine">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Name </label>
                            <input type="number" class="form-control" required="required" name="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Notes </label>
                            <input type="text" class="form-control" required="required" name="notes">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Overdosage </label>
                            <input type="text" class="form-control" required="required" name="overdosage">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy </label>
                            <input type="text" class="form-control" required="required" name="pregnancy">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy Category </label>
                            <input type="text" class="form-control" required="required" name="pregnancy_category">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy Warning </label>
                            <select class="form-control" name="pregnancy_warning">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Presentation </label>
                            <input type="text" class="form-control" required="required" name="presentation">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Route </label>
                            <input type="number" class="form-control" required="required" name="route">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Conc </label>
                            <input type="text" class="form-control" required="required" name="sol_conc">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Conc Unit </label>
                            <input type="number" class="form-control" required="required" name="sol_conc_unit">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Vol </label>
                            <input type="text" class="form-control" required="required" name="sol_vol">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Vol Unit </label>
                            <input type="number" class="form-control" required="required" name="sol_vol_unit">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Storage </label>
                            <input type="text" class="form-control" required="required" name="storage">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Strength </label>
                            <input type="text" class="form-control" required="required" name="strength">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Therapeutic Action </label>
                            <input type="text" class="form-control" required="required" name="therapeutic_action">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Unit </label>
                            <input type="number" class="form-control" required="required" name="unit">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Create Date </label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" name="create_date">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Write Date </label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" name="write_date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Create UID </label>
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Guest</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Write UID </label>
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Guest</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary"> Add Record </button>
                <button type="button" class="btn btn-primary"> Clear Data </button>

            </div>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-medicaments/updateMedicament/{{form.id}}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-10">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Medicaments</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <a href="{% url 'medicament' %}" style="color:#003366;">Go To Home</a>
        </div>
    </div>

    <div class="row" style="color: #003366;">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Record No. </label>
                            <input type="number" class="form-control" readonly="" name="id" placeholder="{{ form.id }}">
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Active Status </label>
                            <select class="form-control" name="active">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Active Component </label>
                            <input type="text" class="form-control" required="required" name="active_component" value="{{ form.active_component }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Adverse Reaction </label>
                            <input type="text" class="form-control" required="required" name="adverse_reaction" value="{{ form.adverse_reaction }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Category </label>
                            <input type="number" class="form-control" required="required" name="category" value="{{ form.category }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Composition </label>
                            <input type="text" class="form-control" required="required" name="composition" value="{{ form.composition }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Dosage </label>
                            <input type="text" class="form-control" required="required" name="dosage" value="{{ form.dosage }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Form </label>
                            <input type="number" class="form-control" required="required" name="form" value="{{ form.form }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Indications </label>
                            <input type="text" class="form-control" required="required" name="indications" value="{{ form.indications }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Is Vaccine </label>
                            <select class="form-control" name="is_vaccine">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Name </label>
                            <input type="number" class="form-control" required="required" name="name" value="{{ form.name }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Notes </label>
                            <input type="text" class="form-control" required="required" name="notes" value="{{ form.notes }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Overdosage </label>
                            <input type="text" class="form-control" required="required" name="overdosage" value="{{ form.overdosage }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy </label>
                            <input type="text" class="form-control" required="required" name="pregnancy" value="{{ form.pregnancy }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy Category </label>
                            <input type="text" class="form-control" required="required" name="pregnancy_category" value="{{ form.pregnancy_category }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Pregnancy Warning </label>
                            <select class="form-control" name="pregnancy_warning">
                                <option>True</option>
                                <option>False</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Presentation </label>
                            <input type="text" class="form-control" required="required" name="presentation" value="{{ form.presentation }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Route </label>
                            <input type="number" class="form-control" required="required" name="route" value="{{ form.route }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Conc </label>
                            <input type="text" class="form-control" required="required" name="sol_conc" value="{{ form.sol_conc }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Conc Unit </label>
                            <input type="number" class="form-control" required="required" name="sol_conc_unit" value="{{ form.sol_conc_unit }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Vol </label>
                            <input type="text" class="form-control" required="required" name="sol_vol" value="{{ form.sol_vol }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Sol Vol Unit </label>
                            <input type="number" class="form-control" required="required" name="sol_vol_unit" value="{{ form.sol_vol_unit }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Storage </label>
                            <input type="text" class="form-control" required="required" name="storage" value="{{ form.storage }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Strength </label>
                            <input type="text" class="form-control" required="required" name="strength" value="{{ form.strength }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Therapeutic Action </label>
                            <input type="text" class="form-control" required="required" name="therapeutic_action" value="{{ form.therapeutic_action }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Unit </label>
                            <input type="number" class="form-control" required="required" name="unit" value="{{ form.unit }}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Create Date </label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" name="create_date">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Write Date </label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" name="write_date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Create UID </label>
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Guest</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Write UID </label>
                            <select class="form-control">
                                <option>Administrator</option>
                                <option>Guest</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary"> Update Record </button>
                <button type="button" class="btn btn-primary"> Clear Data </button>

            </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
