{% extends 'layouts/base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-8 offset">
		<h4 class="page-title">Obstetric Histories - Add</h4>
	</div>
</div>


<div class="profile-tabs">
	<ul class="nav nav-tabs nav-tabs-bottom">
		<li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Main</a></li>
	</ul>


	<div class="tab-content">
		<div class="tab-pane show active" id="about-cont">
			<div class="tab-content">
				<div class="tab-pane show active" id="top-tab1">

					<div class="card-box">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Patient</label>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="col-md-4">
								<label>Health Professional</label>
								<input type="text" class="form-control">
							</div>
							<div class="col-md-4">
								<label>Institution</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Pregnancy</label>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="col-md-4">
								<label>LMP</label>
								<input type="text" class="form-control">
							</div>
							<div class="col-md-4">
								<label>Age</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Pregnancy Due Date</label>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="col-md-4">
								<label>Pregnancies</label>
								<input type="text" class="form-control">
							</div>
							<div class="col-md-4">
								<label>Premature</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Abortions</label>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Still Births</label>
									<input type="text" class="form-control ">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Blood Type</label>
									<select class="select">
										<option>Option One</option>
										<option>Option Two</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>RH</label>
									<select class="select">
										<option>Option One</option>
										<option>Option Two</option>
									</select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group" style="margin-top: 40px;">
									<span class="title"> Current Pregnancy:</span>
									<input style="margin-left:10px;" type="checkbox" name="gender"
										class="form-check-input" checked="">
								</div>
							</div>
						</div>
					</div>

					<div class="card-box">
						<div class="row">
							<div class="col-md-12" style="margin-bottom: 15px; margin-top: 5px;">
								<span style="font-weight: bold;">Prenatal Evaluations</span>
								<button type="button" class="btn btn-primary" style="float: right;">
									<a href="{% url 'prenatal_evaluations' %}"
										style="color: #fff; text-decoration: none;">Add New</a></button>

							</div>
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-bordered m-b-0">
										<thead>
											<tr>
												<th>Date</th>
												<th>Gestatio</th>
												<th>Fundal</th>
												<th>Fetus</th>
												<th>EFW</th>
												<th>IUC</th>
												<th>HY</th>
												<th>PR</th>
												<th>Placentation</th>
												<th>Health Prof</th>
												<th>Institution</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<br />
					</div>


					<div class="card-box">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<span style="font-weight: bold;">Perinatal Info</span>
								<button type="button" class="btn btn-primary"
									style="float: right; margin-bottom: 10px;">
									<a href="{% url 'perinatal_info' %}"
										style="color: #fff; text-decoration: none;">Add New</a></button>
								<div class="table-responsive" style="margin-top: 15px;">
									<table class="table table-bordered m-b-0">
										<thead>
											<tr>
												<th>Admission</th>
												<th>Gestational WKS</th>
												<th>Institution</th>
												<th>Health Prof</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
									<br />
								</div>
							</div>
						</div>
					</div>

					<div class="card-box">
						<div class="row" style="margin-top: 5px;">
							<div class="col-md-12">
								<span style="font-weight: bold;">Puerperium Monitor</span>
								<button type="button" class="btn btn-primary"
									style="float: right; margin-bottom: 10px;">
									<a href="{% url 'puerperium_monitor' %}"
										style="color: #fff; text-decoration: none;">Add New</a></button>
								<div class="table-responsive" style="margin-top: 15px;">
									<table class="table table-bordered m-b-0">
										<thead>
											<tr>
												<th>Date & Time</th>
												<th>Fund</th>
												<th>Lochia ARR</th>
												<th>Lochia CO</th>
												<th>Lochia OD</th>
												<th>Health Prof</th>
												<th>Institution</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										</tbody>
									</table>
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-box">
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-4">
						<div class="form-group">
							<label>Fetuses</label>
							<input type="text" class="form-control ">
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group" style="margin-top: 40px;">
							<span class="title"> Monozygotic:</span>
							<input style="margin-left:10px;" type="checkbox" name="gender" class="form-check-input">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>IUGR</label>
							<select class="select">
								<option>Option One</option>
								<option>Option Two</option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group" style="margin-top: 40px;">
							<span class="title"> Warn:</span>
							<input style="margin-left:10px;" type="checkbox" name="gender" class="form-check-input">
						</div>
					</div>
				</div>


				<div class="row" style="margin-top: 20px;">
					<div class="col-md-4">
						<div class="form-group">
							<label>End Of Pregnancy</label>

							<input type="text" class="form-control ">
						</div>
						<span class="title"> &nbspReverse:</span>
						<input style="margin-left:10px;" type="checkbox" name="gender" class="form-check-input">
					</div>
					<div class="col-md-2">
						<div class="form-group" style="margin-top: 40px;">
							<span class="title"> Home Birth:</span>
							<input style="margin-left:10px;" type="checkbox" name="gender" class="form-check-input">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Result</label>
							<select class="select">
								<option>Option One</option>
								<option>Option Two</option>
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group" style="margin-top: 40px;">
							<span class="title"> BBA:</span>
							<input style="margin-left:10px;" type="checkbox" name="gender" class="form-check-input">
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>

	<button type="button" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-primary">Edit</button>
	<button type="button" class="btn btn-primary">Clear</button>
	<button type="button" class="btn btn-primary">Print</button>
</div>

<div class="sidebar-overlay" data-reff=""></div>

{% endblock content %}