{% for var in ethnic_group %}
<option value="{{ var.id }}"><a href="#">{{ var.name }} </a></option>
{% endfor %}

{% for citi in citizenship %}
<option value="{{ citi.id }}"><a href="#">{{ citi.name }} </a></option>
{% endfor %}

{% for occ in occupation %}
<option value="{{ occ.id }}"><a href="#">{{ occ.name }} </a></option>
{% endfor %}

{% for d in du %}
<option value="{{ d.id }}"><a href="#">{{ d.name }} </a></option>
{% endfor %}

{% for res in residence %}
<option value="{{ res.id }}"><a href="#">{{ res.name }} </a></option>
{% endfor %}