{% extends "layouts/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Procedures</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>PDF</option>
                <option>CSV</option>

            </select>
            <button onclick="window.location.href = '/health-procedures/mainAddProcedure';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>                            
                            <th>Code</th>
                            <th>Long Text</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for procedure in procedures %}
                        <tr>
                            <td>{{procedure.name}}</td>
                            <td>{{procedure.description}}</td>
                           
                            <td class="text-right"><a href="/health-procedures/mainEditProcedure/{{procedure.id}}"><i class="far fa-edit" style="color: #003366; margin-right: 2.5px;"> </i></a><a href="/health-procedures/mainDeleteProcedure/{{procedure.id}}"> <i
                                    class="far fa-trash-alt "style="color: #003366; margin-right: 12.5px;"> </i> </a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health-procedures/mainAddProcedure">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-10">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Procedure</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <a href="{% url 'mainProcedures' %}" style="color:#003366;">Go To Home</a>
        </div>
    </div>

    <div class="row" style="color: #003366;">
        <div class="col-md-12">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" class="form-control" name="id" required="" placeholder="{{ form.id }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" required="" name="name" required="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Long Text</label>
                            <input type="text" class="form-control" required="" name="description" required="">
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" class="form-control" required="" name="create_date" placeholder="{{ form.create_date }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" class="form-control" required="" name="write_date" placeholder="{{ form.write_date }}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" class="form-control" required="" name="create_uid" placeholder={{ form.create_uid }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" class="form-control" required="" name="write_uid" placeholder={{ form.write_uid }}

                        </div>
                    </div>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary"> Add Record </button>
                <button type="button" class="btn btn-primary"> Clear Data </button>


            </div>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-procedures/mainUpdateProcedure/{{form.id}}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-10">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Procedure</h4>
        </div>
        <div class="col-md-2" style="text-align: center;">
            <a href="{% url 'mainProcedures' %}" style="color:#003366;">Go To Home</a>
        </div>
    </div>

    <div class="row" style="color:#003366;">
        <div class="col-md-12">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" class="form-control" name="id" required="" placeholder="{{ form.id }}" readonly="">
                        </div>
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" value="{{ form.name }}" name="name" class="form-control" required="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Long Text</label>
                            <input type="text" value="{{ form.description }}" name="description" class="form-control" required="">
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" readonly value="{{ form.create_date }}" name="create_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" readonly value="{{ form.write_date }}" name="write_date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" readonly value="{{ form.create_uid }}" name="create_uid" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" readonly value="{{ form.write_uid }}" name="write_uid" class="form-control">
                        </div>
                    </div>
                </div>

                <br/>
                <input type="hidden" readonly value="{{ form.id }}" name="id" class="form-control">
                <button type="submit" class="btn btn-primary"> Update Record </button>
                <button type="button" class="btn btn-primary"> Clear Data </button>


            </div>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
