{% extends "layouts/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Prescriptions</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>Pdf</option>
                <option>CSV</option>
                <option>Print</option>

            </select>
            <button onclick="window.location.href = '/health-prescriptions/addPrescription';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>
                            <th>Prescription Id</th>
										<th>Patient</th>
										<th>Prescribed By</th>
										<th>Prescription Date</th>
									
                        </tr>
                        </thead>
                        <tbody>

                        {% for prescription in prescriptions %}
                        <tr>
                            <td>{{prescription.id}}</td>
                            <td>{{prescription.patient}}</td>
                            <td>{{prescription.notes}}</td>
                            <td class="text-right"><a href="/health-prescriptions/editPrescription/{{prescription.id}}"><i class="far fa-edit"> </i></a><a href="/health-prescriptions/deletePrescription/{{prescription.id}}"> <i
                                    class="far fa-trash-alt	"> </i> </a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health-prescriptions/addPrescription">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Prescription</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" class="form-control" name="id" placeholder="{{ form.id }}
                        </div>
                    </div>

                </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Patient</label>
                                    <input class="form-control" type="text" name="patient" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescrition ID</label>
                                    <input class="form-control" type="text" name="prescription_id"  >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescription Date</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control " name="prescription_date">
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescribed By</label>
                                   <input class="form-control" type="text" name="healthprof" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pharmacy</label>
                                    <input class="form-control" type="text" name="pharmacy" >
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                         <div class="col-md-6">
                               <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="pregnancy_warning" id="hospitalized" value="option1" checked>
                                <label class="form-check-label" for="hospitalized">
                                Pragnancy Warning
                                </label>
                            </div>
                            
                        </div>
                            </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="prescription_verified" id="general_active" value="option1" checked>
                                <label class="form-check-label" for="general_active">
                                Prescription Verified
                                </label>
                            </div>
                            
                        </div>
                            </div>
                       </div>
                         <div class="row">
                                <div class="col-sm-12">
                                <div>
                                     <div class="row">
                                  <div class="col-sm-6">
                                    
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>
                             <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Units</th>
                                    <th>Valid Until</th>
                                    <th>Hist</th>
                                    <th>Medicament</th>
                                    <th>Indication</th>
                                    <th>Dose</th>
                                    <th>Dose Unit</th>
                                    <th>Form</th>
                                    <th>Frequency</th>
                                    <th>Treat</th>
                                    <th>Treatment</th>
                                    <th>Comment</th>
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                             </div>
                             <br />
                        <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Service</label>
                                    <div >
                                       <input class="form-control" type="text" name="service"  >
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Document Digest</label>
                                   <input class="form-control" type="text" name="document_digest"  >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Notes</label>
                            <textarea cols="30" rows="3" class="form-control" name="notes"></textarea>
                        </div>
                       
                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>State</label>
                                    <input class="form-control" type="text" name="state" >
                                </div>
                            </div>
                            
                                
                           
                            </div>
                            
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Digital Signature</label>
                                    <input class="form-control" type="text" name="digital_signature" >
                                </div>
                            </div>
                             
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Create Date</label>
                                <input type="text" class="form-control" name="create_date" placeholder="{{ form.create_date }}
    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Write Date</label>
                                <input type="text" class="form-control" name="write_date" placeholder="{{ form.write_date }}
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Create UID</label>
                                <input type="text" class="form-control" name="create_uid" placeholder={{ form.create_uid }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Write UID</label>
                                <input type="text" class="form-control" name="write_uid" placeholder={{ form.write_uid }}
    
                            </div>
                        </div>
                    </div>
                </div>
                        
                       
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-configuration/updateEthnicity/{{form.id}}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Prescription</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input readonly type="number" class="form-control" name="id" value="{{ form.id }}">
                        </div>
                    </div>

                </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Patient</label>
                                    <input class="form-control" type="text" name="patient" value="{{ form.patient }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescrition ID</label>
                                    <input class="form-control" type="text" name="prescription_id"  value="{{ form.prescription_id }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescription Date</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control " name="prescription_date" value="{{ form.prescription_date }}">
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescribed By</label>
                                   <input class="form-control" type="text" name="healthprof" value="{{ form.healthprof }}" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pharmacy</label>
                                    <input class="form-control" type="text" name="pharmacy" value="{{ form.pharmacy }}">
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="row">
                         <div class="col-md-6">
                               <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="pregnancy_warning" id="hospitalized" value="option1" checked>
                                <label class="form-check-label" for="hospitalized">
                                Pragnancy Warning
                                </label>
                            </div>
                            
                        </div>
                            </div>
                             <div class="col-md-6">
                                 <div class="form-group">
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="prescription_verified" value="{{ form.prescription_verified }}" id="general_active" value="option1" checked>
                                <label class="form-check-label" for="general_active">
                                Prescription Verified
                                </label>
                            </div>
                            
                        </div>
                            </div>
                       </div>
                         <div class="row">
                                <div class="col-sm-12">
                                <div>
                                     <div class="row">
                                  <div class="col-sm-6">
                                    
                                    </div>
                                     <div class="col-sm-6 ">
                                     <div class="mail-view-action">
                                     <div class="btn-group">
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="right"> <i class="fas fa-angle-left"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title=""> <i class="fas fa-angle-right"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="add"> <i class="fa fa-trash"></i></button>
                                                <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="delete"> <i class="fa fa-delete"></i></button>
                                            </div>
                                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" title="Print"> <i class="fa fa-print"></i></button>
                          </div>
                          </div>
                          </div>
                             <div class="table-responsive">
                        <table class="table table-border table-striped custom-table datatable m-b-0">
                            <thead>
                                <tr>
                                    <th>Units</th>
                                    <th>Valid Until</th>
                                    <th>Hist</th>
                                    <th>Medicament</th>
                                    <th>Indication</th>
                                    <th>Dose</th>
                                    <th>Dose Unit</th>
                                    <th>Form</th>
                                    <th>Frequency</th>
                                    <th>Treat</th>
                                    <th>Treatment</th>
                                    <th>Comment</th>
                                    
                                    
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="edit-patient.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                             </div>
                             <br />
                        <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Service</label>
                                    <div >
                                       <input class="form-control" type="text" name="service" value="{{ form.service }}" >
                                    </div>
                                </div>
                            </div>
                      
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Document Digest</label>
                                   <input class="form-control" type="text" name="document_digest" value="{{ form.document_digest }}" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Notes</label>
                            <textarea cols="30" rows="3" class="form-control" name="notes" value="{{ form.notes }}"></textarea>
                        </div>
                       
                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>State</label>
                                    <input class="form-control" type="text" name="state" value="{{ form.state }}" >
                                </div>
                            </div>
                            
                                
                           
                            </div>
                            
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Digital Signature</label>
                                    <input class="form-control" type="text" name="digital_signature" value="{{ form.digital_signature }}">
                                </div>
                            </div>
                             
                        </div>
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Create Date</label>
                                <input readonly type="text" class="form-control" name="create_date" value="{{ form.create_date }}">
    
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Write Date</label>
                                <input readonly type="text" class="form-control" name="write_date" value="{{ form.write_date }}">
    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Create UID</label>
                                <input readonly type="text" class="form-control" name="create_uid" value="{{ form.create_uid }}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Write UID</label>
                                <input readonly type="text" class="form-control" name="write_uid" value="{{ form.write_uid }}">
    
                            </div>
                        </div>
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
