{% extends "layouts/base.html" %}
{% block content %}
{% load widget_tweaks %}
{% if type == "grid" %}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Pediatrics Growth Chart - WHO</h4>
    </div>

    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="btn-group btn-group-sm" style="margin-right: 8px">
            <select class="select">
                <option>Export As</option>
                <option>PDF</option>
                <option>CSV</option>

            </select>
            <button onclick="window.location.href = '{% url 'addPediatricsGrowthChart' %}';" class="btn btn-primary"><i
                    class="fa fa-plus"></i> Add New
            </button>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-block">

                <div class="table-responsive">
                    <table id="example" class=" table table-stripped  dt-responsive  ">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Indicator</th>
                            <th>Measure</th>
                            <th>Sex</th>
                            <th>Month</th>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for temp in tempPediatricsGrowthChart %}
                        <tr>
                            <td>{{temp.id}}</td>
                            <td>{{temp.indicator}}</td>
                            <td>{{temp.measure}}</td>
                            <td>{{temp.sex}}</td>
                            <td>{{temp.month}}</td>
                            <td>{{temp.type}}</td>
                            <td>{{temp.value}}</td>
                            <td class="text-right">
                                <a href="/health-configuration/editPediatricsGrowthChart/{{temp.id}}">
                                    <i class="far fa-edit"> </i>
                                </a>
                                <a href="/health-configuration/deletePediatricsGrowthChart/{{temp.id}}">
                                    <i class="far fa-trash-alt"> </i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if type == "add" %}
<form method="POST" class="post-form" action="/health-configuration/addPediatricsGrowthChart">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Add Pediatrics Growth Chart</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" name="id" class="form-control" placeholder="{{ form.id }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Indicator</label>
                            <input type="text" name="indicator" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Measure</label>
                            <input type="text" name="measure" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sex</label>
                            <input type="text" name="sex" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Month</label>
                            <input type="text" name="month" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" name="type" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Value</label>
                            <input type="text" name="value" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" readonly name="create_date" class="form-control" placeholder="{{ form.create_date }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" readonly name="write_date" class="form-control" placeholder="{{ form.write_date }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" readonly name="create_uid" class="form-control"placeholder="{{ form.create_uid }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" readonly name="write_uid" class="form-control" placeholder="{{ form.write_uid }}
                        </div>
                    </div>
                </div>


            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}



{% if type == "edit" %}
<form method="POST" class="post-form" action="/health-configuration/updatePediatricsGrowthChart/{{ form.id }}/">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4 class="page-title" style="padding-bottom: 5px;">Edit Pediatrics Growth Chart</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-box">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Record ID</label>
                            <input type="number" name="id" class="form-control" placeholder="{{ form.id }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Indicator</label>
                            <input type="text" name="indicator" class="form-control" value="{{ form.indicator }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Measure</label>
                            <input type="text" name="measure" class="form-control" value="{{ form.measure }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sex</label>
                            <input type="text" name="sex" class="form-control" value="{{ form.sex }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Month</label>
                            <input type="text" name="month" class="form-control" value="{{ form.month }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" name="type" class="form-control" value="{{ form.type }}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Value</label>
                            <input type="text" name="value" class="form-control" value="{{ form.value }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create Date</label>
                            <input type="text" readonly name="create_date" class="form-control" placeholder="{{ form.create_date }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write Date</label>
                            <input type="text" readonly name="write_date" class="form-control" placeholder="{{ form.write_date }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Create UID</label>
                            <input type="text" readonly name="create_uid" class="form-control"placeholder="{{ form.create_uid }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Write UID</label>
                            <input type="text" readonly name="write_uid" class="form-control" placeholder="{{ form.write_uid }}">
                        </div>
                    </div>
                </div>


            </div>
            <input type="hidden" readonly value="{{ form.id }}" name="id" class="form-control">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-primary">Clear</button>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}
